# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'atom-text-editor':
  # Xcode navigation
  'cmd-u': 'ruby-test:test-file' # run test file
  'ctrl-alt-cmd-u': 'ruby-test:test-single' # run single test
  'cmd-l': 'go-to-line:toggle' # go to line number
  'shift-cmd-o': 'fuzzy-finder:toggle-file-finder' # open file
  'shift-cmd-y': 'platformio-ide-terminal:toggle'
  # Xcode spliting windows
  'cmd-enter': 'pane:close-other-items'
  'alt-cmd-enter': 'pane:split-right-and-copy-active-item'
  # Symbols / Tags
  'ctrl-cmd-]': 'symbols-view:go-to-declaration'
  'ctrl-cmd-[]': 'symbols-view:return-from-declaration'
  'cmd-r': 'symbol-gen:generate'
  # Pane navigation
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'
  # General navigation
  'ctrl-f': 'core:page-down'
  'ctrl-b': 'core:page-up'
  'cmd-n': 'advanced-open-file:toggle'
