[
  {
    title: "James Edition"
    group: "Red Sky"
    paths: [
      "/Users/twojcik/Development/Red-Sky/je3"
    ]
    settings:
      "ruby-test.minitestAllCommand": "docker-compose exec web bundle exec rake test"
      "ruby-test.minitestFileCommand": "docker-compose exec web bundle exec rake test TEST={relative_path}"
      "ruby-test.testAllCommand": "docker-compose exec web bundle exec rake test"
      "ruby-test.testFileCommand": "docker-compose exec web bundle exec rake test TEST={relative_path}"
      "ruby-test.testSingleCommand": "docker-compose exec web bundle exec rake test TEST={relative_path}:{line_number}"
  }
  {
    title: "Hofre Api"
    group: "private"
    paths: [
      "/Users/twojcik/Development/Hofre/hofre-api"
    ]
    settings:
      "ruby-test.minitestAllCommand": ''
      "ruby-test.minitestFileCommand": ''
      "ruby-test.testAllCommand": ''
      "ruby-test.testFileCommand": ''
      "ruby-test.testSingleCommand": ''
  }
]
